/*
position
- 자잘한 요소들을 좌표 값을 이용해서 자유롭게 배치
- 부모 프레임에 position: relative설정
- 배치할 요소에 position: absolute;
- 가로(left, right), 세로 좌표값(top, bottom)설정
- absolute를 활용하면 블록요소를 겹치도록 처리 가능

*/

.frame {
  width: 350px;
  height: 700px;
  border: 1px solid black;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}
/* 비활성화 상태일때 (on클래스 없을때) */
.frame .mobileMenu {
  width: 100%;
  height: 20%;
  background-color: aqua;
  position: absolute;
  top: 0px;
  right: -100%;
  opacity: 0;
  transition: 0.5s;
}
.frame .btnCall {
  position: absolute;
  right: 50px;
  top: 50px;
}
/* 활성화 상태일때 (on클래스 있을때) */
.frame .mobileMenu.on {
  right: 0%;
  opacity: 1;
}
.frame .mobileMenu .btnClose {
  position: absolute;
  top: 50px;
  left: 50px;
}
